@import 'bootstrap/less/bootstrap.less';
@import 'font-awesome/less/font-awesome.less';
@icon-font-path: '/bower_components/bootstrap/fonts/';
@fa-font-path: '/bower_components/font-awesome/fonts';
@import 'variables.less';

body{
	font-size: 14px;
}
@media (min-width: @screen-sm-min) { 
	body{ 
		font-size: 16px;
	}
}

/* Medium devices (desktops, 992px and up) */
@media (min-width: @screen-md-min) { 
	body{
		font-size: 18px;
	}
}

/* Large devices (large desktops, 1200px and up) */
@media (min-width: @screen-lg-min) { 
	body{
		font-size: 20px;
	}
}


// injector
@import 'account/login/login.less';
@import 'admin/admin.less';
@import 'main/carousel/carousel.less';
@import 'main/contact/contact.less';
@import 'main/footer/footer.less';
@import 'main/jumbotron/jumbotron.less';
@import 'main/main.less';
@import 'main/navbar/navbar.less';
@import 'main/newsletter/newsletter.less';
@import 'main/services/services.less';
@import 'separator/separator.less';
@import 'variables.less';
@import 'modal/modal.less';
// endinjector