@import '../bower_components/bootstrap/less/bootstrap.less';
@import '../bower_components/font-awesome/less/font-awesome.less';
@icon-font-path: '../bower_components/bootstrap/fonts/';
@fa-font-path: '../bower_components/font-awesome/fonts';
@import 'variables.less';

body{
	font-size: 14px;
	padding-top: 5.7em;

	@media (min-width: @screen-sm-min) {  
		font-size: 16px;
	}

	@media (min-width: @screen-md-min) { 
		font-size: 17px;
		padding-top: 4em;
		section {
			padding-top: 4em;
			margin-top: -4em;
		}
	}

	@media (min-width: @screen-lg-min) { 
		font-size: 20px;
	}



}


// injector
@import 'account/login/login.less';
@import 'admin/admin.less';
@import 'main/carousel/carousel.less';
@import 'main/contact/contact.less';
@import 'main/footer/footer.less';
@import 'main/jumbotron/jumbotron.less';
@import 'main/main.less';
@import 'main/navbar/navbar.less';
@import 'main/newsletter/newsletter.less';
@import 'main/services/services.less';
@import 'separator/separator.less';
@import 'variables.less';
@import 'modal/modal.less';
// endinjector