@import '../../variables.less';

#carousel-container{
	padding-top: 0px;
  	padding-bottom: 0px;
 	.main-carousel{
 		margin: auto;
 		width: 100%;
 		min-height: 500px;
 		@media (min-width: @screen-md-min) { 
			min-height: 600px;
		}

		@media (min-width: @screen-lg-min) { 
			min-height: 750px;
		}

		&.background-cover{		
			max-height: 600px;			
		}
 	}

 	.carousel-caption{ 		 		
 		
		.carousel-row{
			@media (min-width: @screen-sm-min) { 
				height: 100%;
			}


			@media (min-width: @screen-lg-min) { 
				bottom: -75px;
			}
			
			.image-caroussel{
				-webkit-transition-duration: 1.5s; /* Safari */
				-moz-transition-duration: 1.5s;
				-o-transition-duration: 1.5s;
    			transition-duration: 1.5s;
				margin-bottom: -40px;

				@media (min-width: @screen-sm-min) { 
					margin-bottom: -50px;
					height: 100%;
					display: inline;
				}
			}

			.carousel-text{
				padding: 0px;
				min-height: 180px;
				-webkit-transition-duration: 2s; /* Safari */
				-moz-transition-duration: 2s;
				-o-transition-duration: 2s;
    			transition-duration: 2s;
				@media (min-width: @screen-md-min) { 
					margin-top: 150px; 
				}
				p{
					text-align: center;
					font-size: 3.2em;
					&.first-line{
						font-weight: 350;
						text-align: center;
						margin-bottom: 0px;					
					}
					&.second-line{
						font-weight: 300;
						text-align: center;
					}

					
				}

			}
		}
	}

 	.carousel-indicators
 	{
 		>li{
 			margin: 0.7em;
 		}

 	}

 	.visible-block{
 		.caption{

	 		P{	 			
	 			font-size: 2.5em;
				text-align: center;

				&.first-line{
					font-weight: 300;

				}
				&.second-line{
					font-weight: 500;
				}
				color: @color-base;
	 		}
 		}
 	}
 }

