@import '../variables.less';

/**
 * App-wide Styles
 */

body{		
	font-weight: 400;
	font-family: 'Lato', sans-serif;
	
	.btn{
		border-radius: 0em;
		text-transform: uppercase;
	}

	.green-container{
		background-color: #26bb9f;
		min-height: 7em;
	}

	.empty-container-small{
		min-height: 4.5em;
	}

	.title-container {		
		text-align: center;

		h3, h4{			
			font-style: normal;
			font-weight: 300;
			color: #ddd;							
		}

		h3{
			font-size: 2em;
		}
	}

}
