@import '../../variables.less';

 #services-container{
 	padding: 7em 2em 90px 2em;

 	
	.services-title{
		color: #454545;
		margin-top: 0px;

	}

	.thumbnail{
		border: none;
		text-align: center;		
		transition: all 0.2s ease-in-out;
		&:hover {
			transform: scale(1.05);
		}

		
	}

	.caption{

		h3{
			text-transform: uppercase;			
		}

		p{		
			font-size: 1.4em;			
			@media (min-width: @screen-sm-min) { 
				font-size: 1em
			}
			line-height: 1.5em;
			font-family: 'Lato', sans-serif;
			font-weight: 300;
			color: #757575;
		}

		background-color: #f4f4f4;
		border-bottom: 0.1em solid #e4e4e4;
		padding: 3em 2m 2m 2m;
	}
 }